NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=kzi
DATABASE_PASSWORD=krezoiv1984/
DATABASE_NAME=comercial_jhoel

JWT_SECRET=change-me
JWT_EXPIRES_IN=86400

CORS_ORIGINS=http://localhost:4200

SEED_ADMIN_EMAIL=admin@comercialjhoel.com
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PHONE=00000000
SEED_ADMIN_PASSWORD=admin123
