@use 'mixins' as *;

.container {
  @include container;
}

.container--wide {
  max-width: var(--container-max-wide);
}

.container--fluid {
  max-width: none;
  padding-inline: var(--lp-container-pad);
}
