<div
  class="carousel"
  tabindex="0"
  role="region"
  aria-roledescription="carousel"
  [attr.aria-label]="ariaLabel"
  (keydown)="onKeydown($event)"
  (pointerdown)="onPointerDown($event)"
  (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerCancel()"
  (mouseenter)="pauseAutoplay()"
  (mouseleave)="resumeAutoplay()"
  (focusin)="pauseAutoplay()"
  (focusout)="resumeAutoplay()"
>
  <button
    type="button"
    class="carousel__nav carousel__nav--prev"
    [disabled]="isFirst"
    (click)="prev()"
    aria-label="Producto anterior"
  >
    <app-icon name="chevron-left" [size]="22" />
  </button>

  <div class="carousel__viewport">
    <div class="carousel__stage" aria-hidden="true"></div>
    <div class="carousel__track">
      @for (product of products; track product.id; let i = $index) {
        @let offset = offsetOf(i);
        @if (isVisible(offset)) {
          <div
            class="carousel__slide"
            [class.carousel__slide--active]="offset === 0"
            [style.transform]="slideTransform(offset)"
            [style.opacity]="slideOpacity(offset)"
            [style.z-index]="slideZIndex(offset)"
            [attr.aria-hidden]="offset !== 0"
            [inert]="offset !== 0"
          >
            <app-catalog-product-card
              [product]="product"
              [showInterestButton]="showInterestButton"
              (interest)="onInterest(product)"
              (imageZoom)="onImageZoom($event)"
            />
          </div>
        }
      }
    </div>
  </div>

  <button
    type="button"
    class="carousel__nav carousel__nav--next"
    [disabled]="isLast"
    (click)="next()"
    aria-label="Siguiente producto"
  >
    <app-icon name="chevron-right" [size]="22" />
  </button>
</div>

<div class="carousel__dots" role="tablist" aria-label="Seleccionar producto">
  @for (product of products; track product.id; let i = $index) {
    <button
      type="button"
      class="dot"
      role="tab"
      [class.dot--active]="i === activeIndex()"
      [attr.aria-selected]="i === activeIndex()"
      [attr.aria-label]="'Ver ' + product.name"
      (click)="goTo(i)"
    ></button>
  }
</div>
