@use 'breakpoints' as bp;

.news__carousel {
  margin-top: var(--space-8);
  width: 100%;
  max-width: 64rem;
  margin-inline: auto;
  overflow: hidden;

  @include bp.respond(lg) {
    margin-top: var(--space-10);
  }
}
