@use 'breakpoints' as bp;

.news__grid {
  margin-top: var(--space-8);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);

  @include bp.respond(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp.respond(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-5);
  }

  @include bp.respond(xl) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: var(--space-10);
  }
}
